site_name: My MkDocs Documentation 
site_url: https://sitename.example 
theme:
  name: material
  features:
    - navigation.footer
    - content.code.copy # kopiowanie kodu
    - content.code.select   # zaznaczanie kodu
    - content.code.annotate # adnotacje
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  icon: 
    logo: fontawesome/solid/w
    #logo: assets/logo.png
    #favicon: assets/favicon.ico
  palette: 
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple
    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

# extra:
#   social:
#     - icon: simple/youtube
#       link: https://youtube.com/@james-willett
#     - icon: simple/linkedin
#       link: https://linkedin.com/in/willettjames

# copyright: Copyright &copy; 2024 James Willett
#